<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h1>Editar Post</h1>
    <br>
    <%= render 'form' %>

    <%= link_to 'Ver', @post, class:"register" %> |
    <%= link_to 'Volver', posts_path, class:"register" %>

  </div>
</div>


