<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-justify">

    <%= link_to 'Volver', posts_path %>
    <h1><%= @post.title %></h1>
    <p><%= @post.description %></p>

    <% if user_signed_in? && current_user == @post.user %>
      <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Editar".html_safe, edit_post_path(@post) %>
    <% end %>

    <div class="comentario">
      <!-- Comentarios y su formulario -->
    </div>

  </div>
</div>