footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777
}

// Clase para dar estilo a links de registro de DEVISE
.register:hover {
  background-color: white;
  color:red;
}