footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777
}

// Clase para dar estilo a links de registro de DEVISE
.register:hover {
  background-color: white;
  color:red;
}

//Clase para dar estilo a texto CREADO POR
.creacion {
  margin: 15px 0 15px;
  color: #A3A3A3
}

//Clase para titulos POSTS
.title {
  color: #01A9DB
}

//Clase para comentarios


